@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .search-button {
    @apply flex flex-row text-primary items-center gap-4 h-[48px] pl-4 border-[2px] border-primary rounded-lg px-6 shadow-sm shadow-gray-200 p-2;
  }
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .table-head {
    @apply text-left font-semibold border-[1px] border-[#dddddd] p-4;
  }

  .table-des {
    @apply text-left text-base border-[1px] border-[#dddddd] p-4;
  }

  .table-head-nb,
  .table-des-nb {
    @apply text-left border-[0px] border-[#dddddd] p-4;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .divider {
    @apply bg-white w-full h-[1px];
  }

  .menu-item-container {
    @apply flex flex-row items-center gap-5 px-5 py-4 cursor-pointer my-2 hover:bg-white hover:bg-opacity-10 rounded-lg;
  }
}


:root  {
  --background: 216 100% 100%;
  --foreground: 216 5% 10%;
  --card: 216 50% 100%;
  --card-foreground: 216 5% 15%;
  --popover: 216 100% 100%;
  --popover-foreground: 216 100% 10%;
  --primary: 216 100% 58.6%;
  --primary-foreground: 0 0% 100%;
  --secondary: 216 30% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 178 30% 95%;
  --muted-foreground: 216 5% 40%;
  --accent: 178 30% 90%;
  --accent-foreground: 216 5% 15%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 216 5% 100%;
  --border: 216 30% 82%;
  --input: 216 30% 50%;
  --ring: 216 100% 58.6%;
  --radius: 0.5rem;
}
.dark  {
  --background: 216 50% 10%;
  --foreground: 216 5% 100%;
  --card: 216 50% 10%;
  --card-foreground: 216 5% 100%;
  --popover: 216 50% 5%;
  --popover-foreground: 216 5% 100%;
  --primary: 216 100% 58.6%;
  --primary-foreground: 0 0% 100%;
  --secondary: 216 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 178 30% 25%;
  --muted-foreground: 216 5% 65%;
  --accent: 178 30% 25%;
  --accent-foreground: 216 5% 95%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 216 5% 100%;
  --border: 216 30% 50%;
  --input: 216 30% 50%;
  --ring: 216 100% 58.6%;
  --radius: 0.5rem;
}


#tags {
  width: 100%;
  border: 1px solid #cad3dc;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

#tags .ReactTags__tags {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 8px 10px;
}

#tags .ReactTags__selected {
  display: flex;
}

#tags .ReactTags__clearAll {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  background: #f88d8d;
  color: #fff;
}

#tags .ReactTags__tagInput {
  border-radius: 2px;
  display: inline-block;
}

#tags .ReactTags__tagInput input.ReactTags__tagInputField,
#tags .ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 31px;
  margin: 0;
  font-size: 16px;
  min-width: 150px;
  padding: 0px 10px;
}

#tags .ReactTags__editInput {
  border-radius: 10px;
}

#tags .ReactTags__editTagInput {
  display: inline-flex;
}

#tags .ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #6a7281;
  color: white;
  font-size: 14px;
  display: flex;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 8px;
}

#tags .ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

#tags .ReactTags__suggestions {
  position: absolute;
}

#tags .ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: white;
  width: 200px;
}

#tags .ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}

#tags .ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

#tags .ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}

#tags .ReactTags__remove {
  border: none;
  cursor: pointer;
  background: none;
  color: white;
  margin-left: 5px;
}

#tags input {
  background-color: #fff;
  border: none;
  outline: none;
}

#tags input::placeholder {
  color: #6a7281;
}

#tags input:before {
  border: none;
}
